<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.inovex.andsync"
      android:versionCode="1"
      android:versionName="1.0">
	<uses-sdk android:minSdkVersion="9"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.GET_ACCOUNT"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
	<permission android:name="de.inovex.andsync.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="de.inovex.andsync.permission.C2D_MESSAGE" /> 
	<application android:name="de.inovex.andsync.AndSyncApplication">
		<service android:name="de.inovex.andsync.ObjectService"></service>
		<receiver android:name="de.inovex.andsync.gcm.GCMReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="de.inovex.andsync" />
			</intent-filter>
		</receiver>
		<service android:name="de.inovex.andsync.GCMIntentService"/>
	</application>
</manifest>